html,
body {
  margin: 0%;
  width: 100%;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

/**navigation bar **/
nav {
  height: 75px;
  background-color: #34b7e7;
  line-height: 75px;
  padding: 0px 80px;
}

nav .logo {
  float: left;
}
#F4A {
  text-align: center;
  width: auto;
  height: 70px;
}
nav ul {
  float: right;
  margin: auto;
}
nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 20px;
}

nav ul li a:hover {
  color: #dd8c12;
}
nav ul .active {
  color: #000000;
}
.checkbtn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
  line-height: 80px;
  margin-right: 40px;
}
#check {
  display: none;
}

/** banner style **/
.event-banner {
  position: relative;
  height: 30vw;
  min-height: 375px;
  max-height: 650px;
  /* overflow: hidden; */
  background-image: url(/Images/volunteers-in-warehouse.webp);
  background-repeat: repeat-x;
  background-size: cover;
}

.event-banner .text-overlay {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: rgb(248, 150, 30);
  -webkit-transform: skew(15deg);
  -moz-transform: skew(10deg);
  -o-transform: skew(10deg);
  left: -6.5%;
}
.text-content {
  position: absolute;
  width: 30%;
  left: 20%;
  top: 50%;
  display: block;
  transform: translate(-50%, -50%);
}
.text-content h1 {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 43px;
  font-style: oblique;
}
.text-content p {
  font-size: 30px;
}
.text-overlay:not(.content-area) * {
  color: white;
  text-shadow: 0 2px 4px rgb(0 0 0 / 60%);
}
.event-container {
  max-width: 800px;
  margin: 0 auto;
}

/**event dates style **/
.event-container h3 {
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid black;
}

.event-container .event {
  box-shadow: 0 4px 16px -8px black;
  display: flex;
  border-radius: 8px;
  margin: 32px 0;
}

.event .event-block {
  background-color: teal;
  min-width: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 8px 48px;
  font-weight: bold;
  text-align: center;
  border-radius: 8px 0 0 8px;
}

.event .event-block .date {
  font-size: 34px;
}

.event .event-block .month {
  font-size: 24px;
  font-weight: normal;
}

.event .event-block-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
  background-image: url(/Images/can-background.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.event .event-block-2 h3 {
  font-size: 24px;
  /*margin: 24px 0 10px; */
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

.event .event-block-2 .event-time {
  background-color: rgb(248, 150, 30);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  padding: 14px;
  border-radius: 16px;
  margin: 24px 0;
  font-size: 14px;
}
.event .event-block-2 .event-location {
  background-color: #34b7e7;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
  border-radius: 16px;
  margin: 14px 0;
  font-size: 14px;
}
img {
  width: 30px;
  height: auto;
}

/** footer style **/
footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  width: 20%;
}

footer img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

/** media queries style **/
@media screen and (max-width: 990px) {
  nav {
    padding: 0px 50px;
  }
  .checkbtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
  nav ul {
    width: 100%;
    height: 100vh;
    background-color: #1c80a4;
    position: fixed;
    top: 75px;
    left: 0%;
    text-align: center;
    transition: all 0.5s ease;
  }
  nav ul li {
    display: block;
    margin: 60px 0px;
    line-height: 20px;
  }
  nav ul li a {
    font-size: 20px;
    font-weight: bolder;
  }
}

@media (max-width: 550px) {
  .event {
    flex-direction: column;
  }
  .event .event-block {
    padding: 0;
    border-radius: 8px 8px 0 0;
  }
  .event .event-block .event-date .date {
    padding: 10px 0;
  }
  .event .event-block .event-date .date,
  .event .event-block .event-date .month {
    display: inline-block;
    font-size: 10px 0;
  }
}
