body {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans", sans-serif;
}
/**navigation bar style **/
nav {
  height: 75px;
  background-color: #34b7e7;
  line-height: 75px;
  padding: 0px 80px;
}

nav .logo {
  float: left;
}
#F4A {
  text-align: center;
  width: auto;
  height: 70px;
}
nav ul {
  float: right;
  margin: auto;
}
nav ul li {
  list-style: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 20px;
}

nav ul li a:hover {
  color: #dd8c12;
}
nav ul .active {
  color: #000000;
}
.checkbtn {
  color: #fff;
  font-size: 25px;
  cursor: pointer;
  float: right;
  display: none;
  line-height: 80px;
  margin-right: 40px;
}
#check {
  display: none;
}

/**main content style **/
header {
  border-style: solid;
  border-radius: 10px;
  border-color: teal;
  border-width: 5px;
  border: 50%;
  margin: auto;
  text-align: center;
  color: rgb(248, 150, 30);
  text-transform: uppercase;
}

main {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
}

.card {
  border-radius: 10px;
  border: solid teal;
  border-width: 5px;
  max-height: 40%;
  min-width: 50%;
  background-color: rgb(229, 236, 240);
  max-width: 50vw;
  text-align: center;
  margin: 30px;
}

li {
  list-style-type: none;
  overflow: hidden;
  text-decoration: none;
}

.card img {
  height: 250px;
  width: 250px;
  object-fit: cover;
  border-radius: 15px;
  border: solid teal;
  max-width: 80%;
  margin-top: 10px;
}

/**testify button **/
#testify {
  background-color: #34b7e7;
  padding: 15px;
  border-radius: 15px;
  font-size: 25px;
}

/** footer style **/
footer {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  width: 20%;
}

footer img {
  height: 30px;
  width: 30px;
  object-fit: cover;
}

/** media queries style **/
@media screen and (max-width: 990px) {
  nav {
    padding: 0px 50px;
  }
  .checkbtn {
    display: block;
  }
  #check:checked ~ ul {
    left: 0;
  }
  nav .logo {
    float: inline-start;
  }
  nav ul {
    width: 100%;
    height: fit-content;
    background-color: #1c80a4;
    position: absolute;
    top: 75px;
    left: 0%;
    text-align: center;
    transition: all 0.5s ease;
  }
  nav ul li {
    display: block;
    margin: 60px 0px;
    line-height: 20px;
  }
  nav ul li a {
    font-size: 20px;
    font-weight: bolder;
  }
}
main {
  width: fit-content;
}
@media (max-width: 622px) {
  .card {
    max-width: 100%;
  }
  main {
    width: fit-content;
  }
}
